.footer {
    background: #0D0D0D;
    height: 163px;
    width: 100%;

    margin-top: auto;
    position: absolute;
    bottom: 0;
}

h1.footer_text {
    color: #F5F5F5;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#title {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 200px;
}

#email {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 1291px;
}

#linkedin {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 1620px;
}