wrapper {
    width: 1920px;
    height: 163px;
    flex-shrink: 0;

    background: #0D0D0D;
}

h1.footer_text {
    color: #F5F5F5;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#title {
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 200px;
}

#email {
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 1291px;
}

#linkedin {
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 1620px;
}