#home{
    background: #0D0D0D;
    width: 100%;
    height: 2160px;
}

h1.home_title {
    width: 580px;
    height: 468px;
    margin-left: 140px;
    flex-shrink: 0;
    
    color: #F5F5F5;
    font-family: 'Figtree';
    font-size: 112px;
    font-style: normal;
    font-weight: 800;
    line-height: 120px;

    position: absolute;
    z-index: 1;

    span.p {
        color: #F2184F;
    }
}

h1.topic {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    span.p {
        color: #F2184F;
    }
}

#topic1 {
    position: absolute;
    z-index: 1;
    left: 140px;
    top: 1020px;
}

#topic2 {
    position: absolute;
    z-index: 1;
    left: 140px;
    top: 1560px;
}

h2.title {
    color: #F2184F;
    font-family: Figtree;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3.text {
    width: 488px;
    height: 180px;
    margin-left: 140px;
    flex-shrink: 0;

    color: #BFBFBF;
    font-family: 'Figtree';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    z-index: 1;
    top: 348px;
}

h4.text {
    color: #1B1B1B;
    font-family: 'Figtree';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span.title_bg {
        display: inline-flex;
        padding: 8px 16px;
        align-items: flex-start;
        gap: 10px;

        border-radius: 4px;
        background: #F5F5F5;
    }
}

#ux {
    color: #F2184F;
    font-size: 28px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    top: 1171px;
    left: 173px;
}

#sq1_p1 {
    position: absolute;
    top: 23px;
    left: 32px;
}

#sq1_p2 {
    position: absolute;
    top: 23px;
    left:209px;
}

#sq1_p3 {
    position: absolute;
    top: 23px;
    left: 382px;
}

#sq1_p4 {
    position: absolute;
    top: 80px;
    left: 32px;
}

#sq1_p5 {
    position: absolute;
    top: 80px;
    left: 209px;
}

#sq1_p6 {
    position: absolute;
    top: 138px;
    left: 32px;
}

#ui {
    color: #F2184F;
    font-size: 28px;
    font-weight: 700;

    position: absolute;
    z-index: 1;
    top: 1171px;
    left: 778px;
}

#sq2_p1 {
    position: absolute;
    top: 23px;
    left: 32px;
}

#sq2_p2 {
    position: absolute;
    top: 23px;
    left:137px;
}

#sq2_p3 {
    position: absolute;
    top: 23px;
    left: 391px;
}

#sq2_p4 {
    position: absolute;
    top: 80px;
    left: 32px;
}

#sq2_p5 {
    position: absolute;
    top: 80px;
    left: 195px;
}

/* asfasfasd */
#sq2_p6 {
    position: absolute;
    top: 80px;
    left: 353px;
}

#edc {
    color: #BFBFBF;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.48px;

    position: absolute;
    top: 1722px;
    left: 200px;
}

#edc_1 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1785px;
    left: 200px;
}

#edc_2 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    
    position: absolute;
    top: 1826px;
    left: 200px;
}

#edc_3 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1867px;
    left: 200px;
}

#edc_4 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1908px;
    left: 200px;
}


#edc_5 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1949px;
    left: 200px;
}

#edc_6 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1990px;
    left: 200px;
}

#edl {
    color: #BFBFBF;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.48px;

    position: absolute;
    top: 1722px;
    left: 800px;
}

#edl_1 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1785px;
    left: 800px;
}

#edl_2 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    
    position: absolute;
    top: 1826px;
    left: 800px;
}

#edl_3 {
    color: #1B1B1B;
    font-family: Figtree;
    font-size: 24px;

    position: absolute;
    top: 1867px;
    left: 800px;
}

li.about {
    position: absolute;
    z-index: 1;
    top: 624px;
    margin-left: 140px;

    list-style: none;

    a {
        color: #F2184F;
        font-family: Figtree;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        text-decoration: none;
    }

    a:hover {
        color: #BFBFBF;
        text-decoration: none;
    }
}

img.arrow {
    width: 24px;
    height: 16px;
    flex-shrink: 0;

    background-color: transparent;    
    
    position: absolute;
    z-index: 1;
    top: 638px;
    left: 300px;
}

img.paint {
    width: 552px;
    height: 552px;
    flex-shrink: 0;

    background-color: transparent;    
    
    position: absolute;
    z-index: 1;
    right: 100px;
}

img.bar {
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    
    fill: #F2184F;

    position: absolute;
    z-index: 1;
    top: 897px;
    left: 44%;
}

#bar_2 {
    top: 2098px;
}

img.livros {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    
    fill: #F2184F;

    position: absolute;
    z-index: 1;
    top: 1755px;
    left: 140px;
}

img.linguas {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    
    fill: #F2184F;

    position: absolute;
    z-index: 1;
    top: 1755px;
    left: 740px;
}

div.s_background {
    width: 100%;
    height: 1203px;
    flex-shrink: 0;

    background: #F5F5F5;

    position: absolute;
    top: 913px;
}

div.square {
    border-radius: 8px;
    background: #E6E6E6;
}

#sq1 {
    width: 560px;
    height: 245px;
    flex-shrink: 0;

    
    position: absolute;
    top: 1235px;
    left: 140px;
}

#sq2 {
    width: 560px;
    height: 189px;
    flex-shrink: 0;

    
    position: absolute;
    top: 1235px;
    left: 745px;
}