#work{
    background: #0D0D0D;
    width: 100%;
    height: 2333px;
}

h1.work_title {
    height: 86px;
    margin-left: 140px;

    color: #F5F5F5;
    font-family: 'Figtree';
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    position: relative;
    z-index: 1;

    .p {
        color: #F2184F;
    }
}

h3.work_text {
    width: 560px;
    height: 96px;
    flex-shrink: 0;

    color: #BFBFBF;
    font-family: 'Figtree';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    z-index: 1;
    left: 140px;
    top: -25px;
}

ul.filter_categories {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;

    position: relative;
    z-index: 1;
    right: 600px;

    li.filter {
        color: #BFBFBF;
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

div.w_background {
    width: 100%;
    height: 2155px;
    flex-shrink: 0;

    background: #F5F5F5;
}