#work{
    background: #0D0D0D;
    width: 100%;
    /* height: 100%; */
}

h1.work_title {
    height: 86px;
    margin-left: 140px;

    color: #F5F5F5;
    font-family: 'Figtree';
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    position: relative;
    z-index: 1;

    .p {
        color: #F2184F;
    }
}

h3.work_text {
    width: 560px;
    height: 96px;
    flex-shrink: 0;

    color: #BFBFBF;
    font-family: 'Figtree';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    z-index: 1;
    left: 140px;
    top: -25px;
}

/* Menu options */
ul.filter_categories {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    left: 100px;

    position: absolute;
    z-index: 1;
}

li.filter {
    color: #BFBFBF;
    font-family: 'Figtree';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

li.filter.active {
    color: #000000;

    span.category_count {
        color: #F2184F;
    }
}
/* Menu options */

div.w_background {
    width: 100%;
    min-height: 690px;
    flex-shrink: 0;

    background: #F5F5F5;
}

div.separator {
    width: 1160px;
    height: 1px;
    flex-shrink: 0;

    top: 350px;
    left: 140px;

    position: absolute;
    z-index: 1;

    background: #BFBFBF;
}

.gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 5vw);
    row-gap: 370px;
    column-gap: 40px;

    margin-top: 175px;
    margin-left: 140px;

    position: absolute;
    z-index: 1;
}

.project_gallery img {
    width: 560px;
    height: 400px;
    flex-shrink: 0;

    border-radius: 12px;
}